@import url(https://fonts.googleapis.com/css?family=Montserrat:400,800);

body {
    font-family:'Montserrat', sans-serif;
    background:rgb(217, 253, 253);
    color: #3E363F;
}
#contenedor{
width: 900px;
height: 500px;
text-align: center;
position: absolute;
inset: 0;
margin: auto;
border-radius: 10px;
overflow: hidden;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
}

#calculadora{
background: white;
width:50%;
height: 100%;
float: left;

}
#detalle{
    background: rgb(193, 252, 255);
    width: 50%;
    height: 100%;
    float: left;
    color: rgb(39, 57, 82);
}

.contenido{
position: relative;
top: 50%;
transform: translateY(-50%);
overflow: hidden;
padding: 40px;

}
input{
    width: 70%;
    padding: 12px 15px;
    border: none;
    background-color: rgb(193, 252, 255);
    border-radius: 12px;

}
button{
    font-size: 15px;
        font-weight: bold;
        padding: 12px 45px;
        border-radius: 30px;
        background-color: rgb(167, 223, 226);
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: 20ms ease-in;
        margin-top: 15px;

}
button:active{

    transform: scale(0.95);
}
#error{
color: red;
font-weight: bold;
display: none;
}
.resultado{
color: purple;
font-weight: bold;
font-size: 25px;
margin-bottom: 5px;
display: none;
}
